.root {
    background-color: #1c77c3;
    max-width: 500px;
    min-height: 800px;
    margin: 0 auto;
    border: 5px solid black;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.header {
    padding: 5px;
    text-transform: uppercase;
    background-color: #40bcd8;
    border-bottom: 5px solid white;
}

.header h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: white;
    font-size: 60px;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

.task-container {
    color: white;
}

.task-container > div {
    display: flex;
    align-items: center;
    padding: 5px;
}

.task-container > div:nth-child(odd) {
    background-color: #39a9db;
}

.task-container a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    margin-right: 10px;
}

.task-container a:hover {
    font-weight: 400;
}