.task-form input {
    display: block;
    padding: 0;
    margin: 10px auto 0 auto;
    height: 40px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: #1c77c3;
    border: none;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}