input[type=checkbox] {
    visibility: hidden;
}

.checkBox {
    width: 25px;
    margin: 20px 20px;
    position: relative;
}

.checkBox label {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255);
    border: 1px solid #ddd;
}

.checkBox label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 15px;
    height: 9px;
    background: transparent;
    top: 3px;
    left: 3px;
    border: 3px solid #1c77c3;
    border-top: none;
    border-right: none;

    transform: rotate(-45deg);
}

.checkBox label:hover::after {
    opacity: 0.5;
}

.checkBox input[type=checkbox]:checked + label:after {
    opacity: 1;
}